# Virtual Environment
venv/

# Application Data
/data/nodeflow.db
/data/settings.json

# Python cache
__pycache__/
*.pyc

# IDE/Editor specific files
.vscode/
.idea/

# PyInstaller build files
dist/
build/
*.spec