# Virtual Environment
venv/
.venv/

# Local packaging metadata
nodeflow.egg-info/

# Python cache
__pycache__/
*.pyc

# IDE/Editor specific files
.vscode/
.idea/
.codegraph/

# PyInstaller build files
dist/
build/
*.spec
resource/icon.ico
resource/icon.icns
